# Sandbox files for testing behavior #
######################################

test.php
authtest.php
dimap.php

myphpwebsiteuserauth/lib/Validation/
myphpwebsiteuserauth/lib/UI/
myphpwebsiteuserauth/lib/Database/Command/
myphpwebsiteuserauth/lib/Foundation/Registry.php